node_modules
.DS_Store
# Dependency directories
node_modules/
jspm_packages/

# Environment variables (CRITICAL: Do not commit these)
.env
.env.*

# Docker specific
.dockerignore
logs/
theepicbook_db_data/

# OS Metadata
.DS_Store
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/

# Local configuration
config/config.json

# System & Shell Files
.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.cache/

# Git & SSH (High Security Risk)
.ssh/
.gitconfig

# Docker Credentials
.docker/

# Other Projects/Folders
my-docker-projects/
